@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #0b1326;
  --color-on-background: #dae2fd;
  --color-primary: #76d6d5;
  --color-on-primary: #003737;
  --color-surface-container-lowest: #060e20;
  --color-surface-container-highest: #2d3449;
  --color-on-surface-variant: #bdc9c8;
  --color-outline-variant: #3e4949;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}